
@{
    ViewData["Title"] = "MyFormClass";
}

<h1>My Form Class</h1>
<form method="post" action="/Mortgage/ThanksAgain">
    First Name: <input type="text" name="FirstNamo" ; />
    <br />
    Last Name: <input type="text" name="LastNamo" ; />
    <br />
    <input type="submit" />
</form>

