
@{
    ViewData["Title"] = "MyForm";
}

<h1>My Form</h1>
<form method="post" action="/Mortgage/ThankyouPage">
    First Name: <input type="text" name="firstname";/> 
                <br />
    Last Name: <input type ="text" name="lastname"; />
                <br />
    <input type ="submit" />
</form>
